<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>install - minimal ui</title>
  <link rel="stylesheet" href="/base.css" />
</head>

<body>
  <a class="main-header-link" href="/index.html">
    <header>
      <h1 class="overlap">
        minimal
        <h1 class="under">UI</h1>
      </h1>
    </header>
  </a>

  <div class="container">
    <div class="sidebar content">
      <a class="sidebar-link sidebar-active" href="#">install</a>
      <a class="sidebar-link" href="/components/avatar/avatar.html">avatar</a>
      <a class="sidebar-link" href="/components/alert/alert.html">alert</a>
      <a class="sidebar-link" href="/components/badge/badge.html">badge</a>
      <a class="sidebar-link" href="/components/button/button.html">button</a>
      <a class="sidebar-link" href="/components/card/card.html">card</a>
      <a class="sidebar-link" href="/components/image/image.html">image</a>
      <a class="sidebar-link" href="/components/input/input.html">input</a>
      <a class="sidebar-link" href="/components/typography/typography.html">typography</a>
      <a class="sidebar-link" href="/components/navigation/navigation.html">navigation</a>
      <a class="sidebar-link" href="/components/slider/slider.html">slider</a>
    </div>

    <div class="main content">
      <div class="main-content-container">
        <h1>Installation</h1>
        <p>
          To install minimal-ui, you need to include the following link in
          your head tag:
        </p>
        <div class="code-snippet">
          <code
            class="language-html"> &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jsuryakt/minimal-ui@master/minimal.css" /&gt;</code>
        </div>
      </div>
    </div>

  </div>

  <script src="/prism.js"></script>
</body>

</html>