@import "/minimal.css";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

header h1 {
  font-size: 3rem;
  font-weight: 800;
}

header p {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2.5rem;
}

.header-main {
  display: inline-flex;
  padding: 2rem;
  gap: 1rem;
  position: relative;
}

.flex-row-align-v {
  display: flex;
  align-items: center;
}

.overlap {
  position: relative;
  font-size: 3rem;
  font-weight: 800;
  color: var(--overlap-clr);
}

.under {
  color: var(--under-clr);
  right: -1.2rem;
  font-size: 7rem;
  font-weight: 900;
  position: absolute;
  z-index: -1;
}

.cta-homepage {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cta-homepage button {
  cursor: pointer;
  min-width: 9rem;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.get-started {
  background-color: var(--black-clr);
  color: var(--white-clr);
}

@media screen and (max-width: 620px) {
  .header-main {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  .under {
    right: -0.5rem;
  }
}
