@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");

:root {
  --bg-clr: #cccccc;
  --overlap-clr: #555555;
  --under-clr: #eeeeee;
  --black-clr: #000000;
  --white-clr: #ffffff;
  --side-hover-clr: #dddddd;
  --code-snippet-clr: #2d2d2d;
  --error-clr: #f5222d;
  --success-clr: #52c41a;
  --warning-clr: #faad14;
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

input,
textarea,
button {
  font-family: inherit;
}

h1,
h2 {
  margin: 0;
}

code {
  display: block;
}

.code-snippet {
  margin: 1rem;
}

.display-component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--bg-clr);
  border-radius: 1rem;
  gap: 1rem;
  margin: 1rem;
}

/* avatar */

.avatar {
  border-radius: 50%;
}

.avatar-sm {
  width: 3.125rem;
  height: 3.125rem;
}

.avatar-md {
  width: 4.688rem;
  height: 4.688rem;
}

.avatar-lg {
  width: 6.25rem;
  height: 6.25rem;
}

/* alert  */

.alert {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 0.3rem;
  color: var(--white-clr);
}

.primary {
  background-color: var(--overlap-clr);
}
.error {
  background-color: var(--error-clr);
}
.success {
  background-color: var(--success-clr);
}
.warning {
  background-color: var(--warning-clr);
}
