@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  --bg-clr: #cccccc;
  --overlap-clr: #555555;
  --under-clr: #eeeeee;
  --black-clr: #000000;
  --white-clr: #ffffff;
  --side-hover-clr: #dddddd;
  --code-snippet-clr: #2d2d2d;
  --error-clr: #f5222d;
  --error-hover-clr: #cf2828;
  --success-clr: #52c41a;
  --success-hover-clr: #43a113;
  --warning-clr: #faad14;
  --warning-hover-clr: #f5a000;
  --secondary-clr: #aaa7a7;
  --lightblue-clr: #00bcd4;
  --blue-clr: #2196f3;
  --link-clr: #0070f3;
  --link-hover-clr: #0050a3;
  --new-badge-clr: #0000ff;
  --purple-clr: #6f00ff;
  --purple-hover-clr: #faf6fd;
  --icon-clr: #e4e4e4;
  --purple-active-clr: #e7d4f5;
  --valid-input-bg-clr: #84f1c980;
  --valid-input-border-clr: #059862;
  --invalid-input-bg-clr: #fcc5c5;
  --invalid-input-border-clr: #a02222;
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

input,
textarea,
button {
  font-family: inherit;
}

h1,
h2 {
  margin: 0;
}

code {
  display: block;
}

.code-snippet {
  margin: 1rem;
}

.display-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--bg-clr);
  border-radius: 1rem;
  gap: 1rem;
  margin: 1rem;
}

/* avatar */

.avatar {
  border-radius: 50%;
}

.avatar-sm {
  width: 3.125rem;
  height: 3.125rem;
}

.avatar-md {
  width: 4.688rem;
  height: 4.688rem;
}

.avatar-lg {
  width: 6.25rem;
  height: 6.25rem;
}

/* alert  */

.alert {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 18rem;
  padding: 1rem;
  border-radius: 0.3rem;
  color: var(--white-clr);
}

.primary {
  background-color: var(--overlap-clr);
}
.error {
  background-color: var(--error-clr);
}
.success {
  background-color: var(--success-clr);
}
.warning {
  background-color: var(--warning-clr);
}

/* badge */
.badge,
.badge-icon {
  position: relative;
}

.badge div,
.badge-icon div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--white-clr);
}

.badge-icon div {
  padding: 0.4rem;
  font-size: 0.7rem;
  font-weight: 800;
}

.bottom-right {
  bottom: 10px;
  right: -5px;
}

.bottom-left {
  bottom: 10px;
  left: -5px;
}

.top-right {
  top: 5px;
  right: -7px;
}

.top-right-in {
  top: 7px;
  right: 7px;
}

.top-left {
  top: 5px;
  left: -7px;
}

.online {
  background-color: var(--success-clr);
}

.offline {
  background-color: var(--overlap-clr);
}

.away {
  background-color: var(--warning-clr);
}

.dnd {
  background-color: var(--error-clr);
}

/* badge icon */

.icon-sm {
  font-size: 3rem;
}
.icon-md {
  font-size: 3rem;
}
.icon-lg {
  font-size: 4rem;
}

/* button */

.btn {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--overlap-clr);
  color: var(--white-clr);
}

.btn-primary:hover {
  background-color: var(--black-clr);
}

.btn-secondary {
  background-color: var(--secondary-clr);
  color: var(--white-clr);
}

.btn-secondary:hover {
  background-color: var(--overlap-clr);
}

.btn-success {
  background-color: var(--success-clr);
  color: var(--white-clr);
}

.btn-success:hover {
  background-color: var(--success-hover-clr);
}

.btn-warning {
  background-color: var(--warning-clr);
  color: var(--black-clr);
}

.btn-warning:hover {
  background-color: var(--warning-hover-clr);
}

.btn-danger {
  background-color: var(--error-clr);
  color: var(--white-clr);
}

.btn-danger:hover {
  background-color: var(--error-hover-clr);
}

.btn-info {
  background-color: var(--lightblue-clr);
  color: var(--white-clr);
}

.btn-info:hover {
  background-color: var(--blue-clr);
}

.btn-light {
  background-color: var(--under-clr);
  color: var(--black-clr);
}

.btn-light:hover {
  background-color: var(--secondary-clr);
}

.btn-dark {
  background-color: var(--black-clr);
  color: var(--white-clr);
}

.btn-link {
  background-color: var(--link-clr);
  color: var(--white-clr);
}

.btn-link:hover {
  background-color: var(--link-hover-clr);
  text-decoration: underline;
}

.btn-transparent {
  padding: 0;
  background-color: transparent;
  color: var(--white-clr);
}

.btn-transparent:hover {
  background-color: transparent;
  text-decoration: underline;
}

.btn-icon {
  display: flex;
  gap: 0.5rem;
}

.btn-float {
  font-size: 1.2rem;
}

.btn-float:hover {
  background-color: var(--secondary-clr);
}

/* card */

.card {
  position: relative;
  border-radius: 0.3rem;
  width: 18.75rem;
  /* min-height: 25rem; */
  max-height: 31.25rem;
  background-color: var(--white-clr);
  display: flex;
  flex-direction: column;
}

.card-action-btn {
  display: flex;
}

.card-header {
  border-radius: 0.3rem;
  background-color: var(--white-clr);
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.img-v img {
  width: 18.75rem;
  height: 18.75rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.img-h img {
  width: 6.875rem;
  height: 6.875rem;
}

.new-badge,
.close-badge {
  position: absolute;
  font-size: 0.9rem;
}

.new-badge {
  padding: 0.2rem;
  background-color: var(--new-badge-clr);
  color: var(--white-clr);
  border-radius: 0.3rem;
}

.close-badge {
  cursor: pointer;
  background-color: var(--under-clr);
  color: var(--black-clr);
  border: none;
  border-radius: 50%;
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  font-size: 1.5rem;
}

.close-badge:hover {
  background-color: var(--secondary-clr);
}

.card-title-desc {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-title-desc p,
.card-title-desc h3 {
  margin: 0;
  padding: 5px;
}

.card-title-desc p {
  color: var(--secondary-clr);
}

.card-action-btn button {
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: var(--white-clr);
  border-radius: 0.3rem;
}

.purple-hover {
  color: var(--purple-clr);
}

.purple-hover:hover {
  background-color: var(--purple-hover-clr);
}

.icon-hover:hover {
  background-color: var(--icon-clr);
}

.card-action-btn {
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header:hover {
  cursor: pointer;
  background-color: var(--bg-clr);
}

.purple-hover:active:focus {
  background-color: var(--purple-active-clr);
}

.overlay {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  position: absolute;
  cursor: not-allowed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--bg-clr);
  transition: 0.5s ease;
}

.card-text {
  padding: 0.7rem;
  padding-top: 0;
}

.shadow {
  box-shadow: 2px 2px 10px 3px rgb(0, 0, 0, 0.3);
}

/* image  */

.img-fluid {
  height: auto;
  width: 100%;
}

.img-round {
  border-radius: 50%;
  width: 18.75rem;
  height: 18.75rem;
}

/* input  */

input {
  outline: none;
  border: none;
  position: relative;
}

.input-box {
  border: 1px solid var(--overlap-clr);
  padding: 0.7rem;
  border-radius: 0.3rem;
  min-width: 18rem;
}

.input-box:focus {
  border: 1.5px solid var(--bg-clr);
}

.input-sm {
  padding: 0.7rem;
  font-size: 1rem;
}

.input-md {
  padding: 1rem;
  font-size: 1.6rem;
}

.input-lg {
  padding: 1.8rem;
  font-size: 2rem;
}

.valid-input {
  background-color: var(--valid-input-bg-clr);
  border: 1px solid var(--valid-input-border-clr);
}

.valid-input:focus {
  border: 2px solid var(--valid-input-border-clr);
}

.invalid-input {
  background-color: var(--invalid-input-bg-clr);
  border: 1px solid var(--invalid-input-border-clr);
}

.invalid-input:focus {
  border: 2px solid var(--invalid-input-border-clr);
}

/* typography */

.main-h1 {
  font-size: 2rem;
  margin: 1rem;
}

.main-h2 {
  font-size: 1.5rem;
  margin: 1rem;
}

.main-h3 {
  font-size: 1.3rem;
  margin: 1rem;
}

.main-h4 {
  font-size: 1.2rem;
  margin: 1rem;
}

.main-h5 {
  font-size: 1.1rem;
  margin: 1rem;
}

.main-p {
  font-size: 1.2rem;
  margin: 1rem;
}

.foot-p {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 1rem;
}

.small-p {
  font-size: 0.9rem;
  margin: 1rem;
}

.grey-p {
  color: var(--overlap-clr);
  margin: 1rem;
}

/* navigation */
.nav-ele {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.nav-bar {
  border-radius: 0.3rem;
  min-width: 18rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--overlap-clr);
  padding: 1rem;
  color: var(--white-clr);
}
