  .card {
    border-radius: 0.3rem;
    width: 350px;
    height: 170px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
  }
  
  .col1, .col2 {
    display: flex;
  }
  
  /* .img-block {
    height: auto;
  } */
  
  img {
    width: 110px;
    height: 110px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  
  .title-desc {
    display: flex;
    flex-direction: column;
    margin:10px;
    /* gap: 10px; */
    /* align-items: start; */
  }
  
  p, h3 {
    margin: 0;
    padding: 5px;
  }
  
  p {
    /* font-weight: 600; */
    color: grey;
  }
  
  button {
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 0.3rem;
  }
  
  button:nth-child(1), 
  button:nth-child(2) {
  color: rgba(111, 0, 255, 0.979);
  
  }
  
  button:nth-child(1):hover, 
  button:nth-child(2):hover {
  background-color: rgb(250, 246, 253)
  }
  
  
  button:nth-child(3):hover, 
  button:nth-child(4):hover,
  button:nth-child(5):hover {
    background-color: rgb(228, 228, 228);
  }
  
  .col2 {
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .col1:hover {
    cursor: pointer;
    background-color: rgb(236, 234, 234);
  }
  
  button:nth-child(1):active:focus, 
  button:nth-child(2):active:focus {
    background-color: rgb(231, 212, 245)
  }