<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>input - minimal ui</title>
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="input.css" />
</head>

<body>
    <div class="main-header">
        <a class="main-header-link" href="/index.html">
            <header>
                <h1 class="overlap">
                    minimal
                    <h1 class="under">UI</h1>
                </h1>
            </header>
        </a>
        <button id="bar" class="menu-bar" onclick="menu()"><i class="bi bi-list"></i></button>
    </div>

    <div class="container">
        <div class="sidebar content">
            <a class="sidebar-link" href="/components/install/install.html">install</a>
            <a class="sidebar-link" href="/components/avatar/avatar.html">avatar</a>
            <a class="sidebar-link" href="/components/alert/alert.html">alert</a>
            <a class="sidebar-link" href="/components/badge/badge.html">badge</a>
            <a class="sidebar-link" href="/components/button/button.html">button</a>
            <a class="sidebar-link" href="/components/card/card.html">card</a>
            <a class="sidebar-link" href="/components/image/image.html">image</a>
            <a class="sidebar-link sidebar-active" href="/components/input/input.html">input</a>
            <a class="sidebar-link" href="/components/typography/typography.html">typography</a>
            <a class="sidebar-link" href="/components/navigation/navigation.html">navigation</a>
            <a class="sidebar-link" href="/components/slider/slider.html">slider</a>
        </div>

        <div class="main content">
            <div class="main-content-container">
                <h1>input</h1>
                <p>input component is one that is used to get user input in a text field.</p>
            </div>
            <hr />
            <div class="display-flex">
                <div class="display-component">
                    <input type="text" class="input-box input-sm">
                    <input type="text" class="input-box input-md">
                    <input type="text" class="input-box input-lg">
                </div>

                <div class="code-snippet">
                    <code class="language-html">
    &lt;input type=&quot;text&quot; class=&quot;input-box input-sm&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;input-box input-md&quot;&gt;    
    &lt;input type=&quot;text&quot; class=&quot;input-box input-lg&quot;&gt;   
                </code>
                </div>
            </div>

            <div class="main-content-container">
                <h2>round responsive image</h2>
                <p>input component can also have validation boxes. there are 2 variations: valid input, invalid input.

                    valid-input: Green input field.
                    invalid-input: Red input field.</p>
            </div>
            <hr />
            <div class="display-flex">
                <div class="display-component">
                    <input type="text" class="input-box input-sm valid-input">
                    <input type="text" class="input-box input-sm invalid-input">
                </div>

                <div class="code-snippet">
                    <code class="language-html">
    &lt;input type=&quot;text&quot; class=&quot;input-box input-sm valid-input&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;input-box input-sm invalid-input&quot;&gt;  
                    </code>
                </div>
            </div>
        </div>

    </div>

    <script src="/prism.js"></script>
</body>

</html>