<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>avatar - minimal ui</title>
    <link rel="stylesheet" href="/Components/install/install.css" />
    <link rel="stylesheet" href="/prism.css" />
    <link rel="stylesheet" href="/minimal.css" />
    <link rel="stylesheet" href="avatar.css" />
</head>

<body>
    <a class="main-header-link" href="/index.html">
        <header>
            <h1 class="overlap">
                minimal
                <h1 class="under">UI</h1>
            </h1>
        </header>
    </a>

    <div class="container">
        <div class="sidebar content">
            <a class="sidebar-link" href="/Components/install/install.html">install</a>
            <a class="sidebar-link sidebar-active" href="/components/avatar/avatar.html">avatar</a>
            <a class="sidebar-link" href="/components/alert/alert.html">alert</a>
            <a class="sidebar-link" href="/components/badge/badge.html">badge</a>
            <a class="sidebar-link" href="/components/button/button.html">button</a>
            <a class="sidebar-link" href="/components/card/card.html">card</a>
            <a class="sidebar-link" href="/components/image/image.html">image</a>
            <a class="sidebar-link" href="/components/input/input.html">input</a>
            <a class="sidebar-link" href="/components/typography/typography.html">typography</a>
            <a class="sidebar-link" href="/components/navigation/navigation.html">navigation</a>
            <a class="sidebar-link" href="/components/slider/slider.html">slider</a>
          </div>

        <div class="main content">
            <div class="main-content-container">
                <h1>Avatar</h1>
                <p>Avatars are user profile pictures, usually found in circular shapes. Avatars can be used for
                    'container' objects — projects, spaces, repositories, etcetera — to give them a recognisable visual
                    identity.</p>
            </div>
            <hr />
            <div class="main-content-container">
                <h2>Profile Avatars</h2>
                <p>Profile Avatars can be created using the class 'avatar', inside the img tag.</p>
            </div>

            <div class="display-component">
                <img class="avatar avatar-sm" src="https://picsum.photos/50">
                <img class="avatar avatar-md" src="https://picsum.photos/51">
                <img class="avatar avatar-lg" src="https://picsum.photos/52">
            </div>

            <div class="code-snippet">
                <code class="language-html">
    &lt;img class=&quot;avatar avatar-sm&quot; src=&quot;https://picsum.photos/50&quot;&gt;    
    &lt;img class=&quot;avatar avatar-md&quot; src=&quot;https://picsum.photos/51&quot;&gt;
    &lt;img class=&quot;avatar avatar-lg&quot; src=&quot;https://picsum.photos/52&quot;&gt;
                </code>
            </div>
        </div>

    </div>

    <script src="/prism.js"></script>
</body>

</html>