.display-component {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #cccccc;
    border-radius: 1rem;
    gap: 1rem;
    margin: 1rem;
}

