<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>alert- minimal ui</title>
    <link rel="stylesheet" href="/Components/install/install.css" />
    <link rel="stylesheet" href="/prism.css" />
    <link rel="stylesheet" href="/minimal.css" />
    <link rel="stylesheet" href="alert.css" />
</head>

<body>
    <a class="main-header-link" href="/index.html">
        <header>
            <h1 class="overlap">
                minimal
                <h1 class="under">UI</h1>
            </h1>
        </header>
    </a>

    <div class="container">
        <div class="sidebar content">
            <a class="sidebar-link" href="/components/install/install.html"> install </a>
            <a class="sidebar-link" href="/components/avatar/avatar.html">avatar</a>
            <a class="sidebar-link sidebar-active" href="/components/alert/alert.html"> alert </a>
            <a class="sidebar-link" href="/components/badge/badge.html"> badge </a>
            <a class="sidebar-link" href="/components/badge/badge.html"> button </a>
            <a class="sidebar-link" href="/components/badge/badge.html"> card </a>
            <a class="sidebar-link" href="/components/badge/badge.html"> image </a>
            <a class="sidebar-link" href="/components/badge/badge.html"> input </a>
            <a class="sidebar-link" href="/components/badge/badge.html">
                text utilities
            </a>
            <a class="sidebar-link" href="/components/badge/badge.html"> lists </a>
            <a class="sidebar-link" href="/components/badge/badge.html">
                navigation
            </a>
            <a class="sidebar-link" href="/components/badge/badge.html"> modal </a>
            <a class="sidebar-link" href="/components/badge/badge.html">
                toast/notify/snackbar
            </a>
            <a class="sidebar-link" href="/components/badge/badge.html">
                simplified grid
            </a>
            <a class="sidebar-link" href="/components/badge/badge.html"> badge </a>
        </div>

        <div class="main content">
            <div class="main-content-container">
                <h1>Alert</h1>
                <p>An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>
            </div>
            <hr/>

            <h2>Simple Alert</h2>
            <p>Simple Alerts can be created using alert class, followed by the variant name.</p>

            <div class="display-component">
                <div class="alert primary">
                    <strong>Primary!</strong> This is a Primary Alert - Check it now!
                </div>

                <div class="alert error">
                    <strong>Error!</strong> This is an Error Alert - Check it now!
                </div>

                <div class="alert success">
                    <strong>Success!</strong> This is a Success Alert - Check it now!
                </div>

                <div class="alert warning">
                    <strong>Warning!</strong> This is a Warning Alert - Check it now!
                </div>
            </div>

            <div class="code-snippet">
                <code class="language-html"> 
                    &lt;div class=&quot;alert primary&quot;&gt;
                    &lt;strong&gt;Primary!&lt;/strong&gt; This is a Primary Alert - Check it now!
                &lt;/div&gt;
                </code>
                <code class="language-html">
                &lt;div class=&quot;alert error&quot;&gt;
                    &lt;strong&gt;Error!&lt;/strong&gt; This is an Error Alert - Check it now!
                &lt;/div&gt;
                </code>
                <code class="language-html">
                &lt;div class=&quot;alert success&quot;&gt;
                    &lt;strong&gt;Success!&lt;/strong&gt; This is a Success Alert - Check it now!
                &lt;/div&gt;
                </code>
                <code class="language-html">
                &lt;div class=&quot;alert warning&quot;&gt;
                    &lt;strong&gt;Warning!&lt;/strong&gt; This is a Warning Alert - Check it now!
                &lt;/div&gt;
                </code>
              </div>
        </div>

        <!-- <h1>Installation</h1>
<p>
  To install minimal-ui, you need to include the following link in
  your head tag:
</p>
<div class="code-snippet">
  <code
    class="language-html"> &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jsuryakt/minimal-ui/minimal.css" /&gt;</code>
</div> -->

    </div>

    <script src="/prism.js"></script>
</body>

</html>